:root {
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-cream: hsl(30, 38%, 92%);
  --color-very-dark-blue: hsl(212, 21%, 14%);
  --color-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-cream);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: var(--color-dark-grayish-blue);
}

.product-card {
  display: grid;
  grid-template-columns: minmax(0, 30rem) minmax(0, 30rem);
  grid-template-rows: minmax(0, 45rem);
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.02);
          box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.02);
}
.product-card__image {
  width: 100%;
  height: 100%;
  display: block;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.08))), url(../images/image-product-desktop.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), url(../images/image-product-desktop.jpg);
  background-size: cover;
}
.product-card__info {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}
.product-card__info--title {
  margin-top: 0.5rem;
  margin-bottom: -0.8rem;
  letter-spacing: 5px;
  font-size: 1.2rem;
}
.product-card__info--heading {
  font-family: "Fraunces", sans-serif;
  font-size: 3.1rem;
  color: var(--color-very-dark-blue);
  line-height: 1.1;
}
.product-card__info--details {
  line-height: 1.6;
}
.product-card__info--prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-card__info--prices--big {
  color: var(--color-dark-cyan);
  font-size: 3rem;
  font-family: "Fraunces", sans-serif;
}
.product-card__info--prices--small {
  text-decoration: line-through;
}
.product-card__info--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1rem;
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  gap: 1.2rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-color: var(--color-dark-cyan);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}