// CSS Custom Properties
:root {
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-cream: hsl(30, 38%, 92%);
  // Neutral
  --color-very-dark-blue: hsl(212, 21%, 14%);
  --color-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 500px) {
    font-size: 50%;
  }
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: var(--color-dark-grayish-blue);
  @media only screen and (max-width: 500px) {
    font-size: 1.6rem;
  }
}
