.product-card {
  display: grid;
  grid-template-columns: minmax(0, 30rem) minmax(0, 30rem);
  grid-template-rows: minmax(0, 45rem);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.02);

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.08),
        rgba(0, 0, 0, 0.08)
      ),
      url(../images/image-product-desktop.jpg);
    background-size: cover;
  }

  &__info {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &--title {
      margin-top: 0.5rem;
      margin-bottom: -0.8rem;
      letter-spacing: 5px;
      font-size: 1.2rem;
    }

    &--heading {
      font-family: "Fraunces", sans-serif;
      font-size: 3.1rem;
      color: var(--color-very-dark-blue);
      line-height: 1.1;
    }

    &--details {
      line-height: 1.6;
    }

    &--prices {
      display: flex;
      gap: 2rem;
      align-items: center;

      &--big {
        color: var(--color-dark-cyan);
        font-size: 3rem;
        font-family: "Fraunces", sans-serif;
      }

      &--small {
        text-decoration: line-through;
      }
    }

    &--icon {
    }

    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 1rem;
      color: var(--color-white);
      border: none;
      border-radius: 10px;
      gap: 1.2rem;
      font-size: 1.5rem;
      letter-spacing: 1px;
      background-color: var(--color-dark-cyan);
      cursor: pointer;
    }
  }
}
